body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;

  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--clr-bg);
  color: var(--clr-neon);
  position: fixed;
}

:root {
  /*rgb(4, 110, 44);
  rgb(102, 0, 0);
  rgb(254, 110, 44);
  rgba(148, 8, 1, 1)
  rgba(129, 26, 113)*/

  --clr-neon: rgb(254, 110, 44);
  --clr-bg: rgba(1, 1, 1, 1);
  --clr-white: rgba(255, 255, 255, 1);
  --glow-color: hsl(186 100% 69%);

  --clr-red: #7721f6;
}

@font-face {
  font-family: "pixel";
  src: url(font/pixel.otf) format("truetype");
}

@font-face {
  font-family: "linux";
  src: url(font/linux.otf);
}

@font-face {
  font-family: "blox";
  src: url(font/Blox2.ttf);
}

@font-face {
  font-family: "space";
  src: url(font/Spaced\ OTF.otf);
}
/*----------------------------CONTACT-----------rgb(106, 90, 205)---------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  font-size: 1.2em;
  /*font-family: system-ui;*/
  font-family: "space";

  letter-spacing: 2px;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 3px solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: fixed;
}

.button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
  filter: blur(1.15em);
  opacity: 0.7;

  transition: transform 3s linear;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 4em 0.6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);
  opacity: 0;
  background: var(--clr-neon);
  z-index: -1;
  transition: opacity 0.5s linear;
}

.button:hover,
.button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
  transform: perspective(1em) rotateX(400deg) scale(1.5, 0.6);
  transition: transform 0.5s linear;
}

.button:hover::after,
.button:focus::after {
  opacity: 1;
}
/*-------------------------logo and name-------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.logo_container {
  position: fixed;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.logo_image {
  width: 45px;
  height: 45px;
  position: fixed;
  margin-bottom: 35px;
}
.logo_text {
  position: absolute;
  color: white;
  font-size: 14px;
  text-decoration: none;
  font-family: "Roboto" !important;
  /*font-family: "space";*/
  margin-bottom: 0;
}

.minText {
  font-size: 11px;
}

/*--------------------------NAV BAR------------------------*/

.navbar {
  background-color: transparent;
  font-family: "space";
  /*font-family: "Roboto" !important;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 2%;
  margin-left: 0%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.navbar a:nth-child(1) {
  margin-top: 0.3%;
}
.navbar a:nth-child(3) {
  margin-top: 0.3%;
}

.navbar a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  /*color: black;*/
  color: var(--clr-neon);
}

.first_W {
  color: var(--clr-neon);
  font-size: 1.7em;
}

.navbar a:hover {
  color: var(--clr-white);
  letter-spacing: 2px;
  font-weight: bolder;
}

/*--------------------------ALIEN & LANG PHOTO------------------------*/

.alien {
  position: fixed;
  width: 5%;
  background: transparent;
}
.alien_container img:nth-child(1) {
  left: 45%;
  top: 30%;
}
.alien_container img:nth-child(2) {
  left: 40%;
  top: 20%;
}
.alien_container img:nth-child(3) {
  left: 50%;
  top: 30%;
}
.alien_container img:nth-child(4) {
  left: 55%;
  top: 20%;
}

.language {
  position: fixed;
  width: 3%;
}

.lang_container img:nth-child(1) {
  left: 48%;
  top: 62%;
}

.lang_container img:nth-child(2) {
  left: 45%;
  top: 62%;
}
.lang_container img:nth-child(3) {
  left: 42%;
  top: 62%;
}
.lang_container img:nth-child(4) {
  left: 39%;
  top: 62%;
}
.lang_container img:nth-child(5) {
  left: 51%;
  top: 62%;
}
.lang_container img:nth-child(6) {
  left: 54%;
  top: 62%;
}
.lang_container img:nth-child(7) {
  left: 57%;
  top: 62%;
}

.lang_container img:nth-child(8) {
  display: none;
}
.lang_container img:nth-child(9) {
  left: 45%;
  top: 69%;
}
.lang_container img:nth-child(10) {
  left: 51%;
  top: 69%;
}
.lang_container img:nth-child(11) {
  left: 48%;
  top: 69%;
}

/*--------------------------DISCUSS & CONTACT-------------------*/

.discuss {
  margin-left: 0;
  margin-top: 26%;
  position: fixed;
}
.discuss p {
  font-family: "space";
  font-size: 1.1rem;
  letter-spacing: 4px;
  font-weight: bold;
  color: black;
}

/*888888888888888888888888888888888888888888888888888888888*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*888888888888888888888888888888888888888888888888888888888*/
/* SMALL DEVICE */
/* SMAL DEVICE */

@media screen and (max-width: 767px) {
  /*------------------------CONTACT--------------- -----------------*/
  .button {
    font-family: "space";
    font-size: 0.95em;
    letter-spacing: 1px;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 18em 5em var(--clr-red), 0 0 19em 0.5em var(--clr-white);
    color: var(--clr-red);
    border: var(--clr-red) 1px solid;
    padding: 0.25em 1em;
    border-radius: 0.55em;

    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;

    /*shadow dar halati ke do rang nabashe : box-shadow: 0 0 4em 6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);*/
    /*transform: perspective(-1em) rotateX(400deg) scale(100.9, 110.8);*/
  }

  .button::before {
    background: transparent;
  }
  .button::after {
    box-shadow: 0 0 4em 0.6em var(--clr-red), 0 0 1em 0.2em var(--clr-white);
    background: var(--clr-red);
  }




  /* negash kon, you will get it!
  .button::before {
    box-shadow: 0 0 4em 6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);
    transform: perspective(0.8em) rotateX(40deg) scale(0.9, 0.8);
  }*/

  /*ORIGINAL!
  .button {
    font-family: "space";
    font-size: 0.95em;
    letter-spacing: 1px;
    left: 15%;
    top: 50%;
    /*box-shadow: 0 0 4em 0.6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);
  }

  .button::before {
    transform: perspective(0.2em) rotateX(40deg) scale(0.9, 0.8);
  }*/

  /*-------------------------logo and name-------------------------*/

  .logo_container {
    justify-content: center;
    bottom: 2%;
    right: 50%;
  }

  .logo_image {
    width: 40px;
    height: 40px;
    bottom: 2%;
  }

  .logo_text {
    font-size: 12px;
    letter-spacing: 1px;
  }

  .minText {
    font-size: 10px;
  }
  /*--------------------------NAV BAR------------------------*/
  .navbar a span {
    color: var(--clr-red);
  }
  .navbar {
    margin-top: 7%;
  }

  .navbar a:nth-child(1) {
    margin-top: 0;
  }
  .navbar a:nth-child(3) {
    margin-top: 0;
  }

  .navbar a {
    font-family: "space";
    color: var(--clr-neon);
    font-size: 16px;
  }

  .first_W {
    font-size: 1.3em;
  }

  .navbar a:hover {
    color: var(--clr-neon);
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  /*------------------------LANGUAGE--------------------------------*/
  .language {
  }
  .lang_container {
    position: fixed;
  }

  .lang_container img {
    width: 10%;
  }
  .lang_container img:nth-child(1) {
    left: 64%;
    top: 60%;
  }

  .lang_container img:nth-child(2) {
    left: 51%;
    top: 60%;
  }
  .lang_container img:nth-child(3) {
    left: 38%;
    top: 60%;
  }
  .lang_container img:nth-child(4) {
    left: 25%;
    top: 60%;
  }
  .lang_container img:nth-child(5) {
    left: 25%;
    top: 66%;
  }
  .lang_container img:nth-child(6) {
    left: 38%;
    top: 66%;
  }
  .lang_container img:nth-child(7) {
    left: 51%;
    top: 66%;
  }

  .lang_container img:nth-child(8) {
    left: 64%;
    top: 66%;
  }

  .lang_container img:nth-child(9) {
    left: 38%;
    top: 72%;
  }

  .lang_container img:nth-child(10) {
    left: 64%;
    top: 66%;
  }

  .lang_container img:nth-child(11) {
    left: 51%;
    top: 72%;
  }

  /*-------------------------DISCUSS & CONTACT-------------------------------*/
  .discuss {
  }
  .dis {
    position: fixed;
    letter-spacing: 1px;
    right: 16%;
    top: 54%;
  }
  .discuss p {
    text-align: center;
    letter-spacing: 0px;
    font-size: 0.9rem;

    /*display: none;
    position: fixed;
    left: 1%;
    margin-left: 3%;
    margin-top: 1%;
    font-family: "space";
    */
  }

  /*----------------------ALIEN PHOTO-----------------*/
  .alien {
    width: 10%;
    display: none;
  }

  .alien_container img:nth-child(1) {
    left: 45%;
    top: 29%;
  }
  .alien_container img:nth-child(2) {
    left: 36%;
    top: 27%;
  }
  .alien_container img:nth-child(3) {
    left: 54%;
    top: 27%;
  }
  .alien_container img:nth-child(4) {
    left: 55%;
    top: 20%;
  }
}
